*{
    margin: 0;
    padding: 0;
}

.box{
    width: 150px;
    height: 150px;
    background: orange;
    text-align: center;
    line-height: 150px;
    margin: 100px auto;

    transition: 0.5s;
}

.box:hover{
    transform: scale(1.2) rotate(20deg);
    background: purple;
    color: white;
}