#p {
  display: flex;
  width: 600px; 
  border: 2px solid black;
}

.c{
  width: 200px;
  height: 100px;
  border: 1px solid black;
}

#c1 {
  background: red;
  flex-grow: 1;
}

#c2 {
  background: blue;
  flex-grow: 3;
}
/* 
მოკლედ რომ გვაქვს შვილობილი ელემენტების სიგრძე ჯამში არის 400px და თავისუფალი არის 200px ანუ 200px გაიყოფა 4-ზე 
რადგან flex-grow: 1 და 3 გვაქვს და გაიყოპა შესაბამის ნაწილებად და გადაეცემა ელემენტის დამატებით ნაწილებს ანუ 
პირველს დაემატება 50px  და მეორეს 150px  და შედეგი შესაბამისად გვექნება რომ პირველ შვილობილ ელემენტს 
ექნება 250px სიგანე ხოლო მეორეს 350px 
*/