/* 
/* 3 */
body{
    background-color: gray;
    text-align: center;
    color: white;
}
#k{
    color: white;
}

#k:hover{
    color: blue;
    font-size: large;
    background-color: rgb(19, 19, 19);
}

#s{
    color: white;
}

#s:hover{
    color: crimson;
    font-size: large;
    background-color: darkblue;
}

a{
    text-decoration: none;

}
