body{
    color: black;
    background-image: url(./main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    text-align: center;
}

p{
    font-size: 30px;
}

nav a{
    color: white;
    text-decoration: none;
}
nav{
    font-size: x-large;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 20px;
    display: flex;
    gap: 5px;
    justify-content: center;
    font-weight: 500;
}