/* 2 */
/* dimensions მოკლედ რომ ვთქვათ არის ფიზიკური სიდიდე და მისი ერთეულია პიქსელი (px) და პროცენტი (%) */

/* 3 */
#div1{
    background-color: rgb(100, 80, 60);
    width: 50%;
    height: 50%;
}

#div2{
    background-color: rgb(255, 0, 200);
    width: 100%;
    height: 80px;
}

#div3{
    background-color: rgb(210, 195, 255);
    width: 50px;
    height: 100%
}

/* 4 */
#h1{
    color: #bd0457;
    font-size: 10px;
}

/* 5 */
.rgb{
    color: rgb(90, 120, 100);
}

.hex{
    color: #c4d904;
}

/* 6 */

/* pixel არის ეკრანის ყველაზე პატარა წერტილი რისგანაც არის გაკეთებული მონიტორები,სურათი ტექსტი და ა.შ. */
/* ყველა მოწყობილობა სხვადასხვა ზომისაა */

/* 7 */
/*
Responsive გვერდის დიზაინი არის ვებსაიტის დიზაინი რომელიც ავტომატურად ერგება სხვადასხვა მოწყობილობას მაგ. ტელეფონი,პლანშეტი,ნოუტბუკი, პკ და ა.შ
*/