body{
    text-align: center;
    background-color: #7c7d7c;
    color: white;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

footer a{
    text-decoration: none;
    color: blue;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
p{
    font-family: 'Raleway';
}