/* 
color გასტილვის ჩაშენებული პარამეტრია რომელშიც არის ჩაშენებული ფერები

hex გასტილვის ჩაშენებული პარამეტრია რომლის ფერები გაიწერება კოდით მაგ color: #0000ff;

rgb გასტილვის ჩაშენებული პარამეტრია rgb გაიშიფრება როგორც red green blue და ფერების არჩევა შეგვიძლია შერევით ანუ
თუ წითელი ფერის შენარევი არის 0, მწვანის 0 და ლურჯის 0 საბოლოო ფერი იქნება შავი და მაქსიმალური შენარევის რაოდენობა
არის 255
*/

.norm{
    color:aqua;
}

.hex{
    color: #ff0000;
}

.rgb{
    color: rgb(255, 255, 255);
}