.p1{
    background-color:red;
    color:white;
}

.p2{
    background-color:blue;
    color:yellow;
}

.p3{
    background-color:green;
    color:white;
}

.p4{
    background-color:black;
    color:orange;
}

.p5{
    background-color:purple;
    color:pink;
}