*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gp{
    width: 400px;
    height: 225px;
    background-color: #87CEEB;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p{
    width: 350px;
    height: 200px;
    background-color: #05285F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.c{
    background-color: #FFF100;
    width: 100px;
    height: 70px;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}