*{
    margin: 0;
    padding: 0;
}

.box{
    width: 200px;
    height: 200px;
    background: deepskyblue;
    color: white;
    text-align: center;
    line-height: 200px;
    margin: 100px auto;
    transition: 0.5s;
}

.box:hover{
    transform: rotate(360deg) scale(1.2);
}