
/* 1 */
#p1{
    text-decoration: line-through;
}

#p2{
    text-transform: uppercase;
}

#p3{
    text-shadow: 4px 4px 6px red;
}
#h1{
    text-decoration: double;
    text-transform: capitalize;
    text-shadow: 5px 5px 10px green;
}

/* 2 */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
#fff{
    font-family: 'Raleway';
}
