/* 

3) ივარჯიშეთ id selector-ების და class selectore-ის გამოყენებაზე, შექმენით მარტივი ვებ-საიტი თავისი გასტილვით.

*/

/* 1*/
/*
 ყველაზე მთავარი და ძირითადი განსხვავება id selector-სა და class selector-ს შორისარის ის რომ
 id selector-ის დახმარებით ჩვენ ვსრილავთ კონკრეტულ ელემენტს
 class selector-ის დახმარებით ჩვენ შეგვიძლია გავსტილოთ ელემენტთა ჯგუფი
*/

/* 2 */

button{
    color: white;
    background-color: black;
}

.bt{
    color: blueviolet;
    background-color: chocolate;
    border-radius: 50px;
}

#bb{
    color: aqua;
    background-color: brown;
}

/* 5 */
/* გადავხედე */
/* საუბარი იყო სელექტორებზე */